<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <a class="logo" href="/"><img loading="lazy" decoding="async" src="/assets/images/hhow-3-wh.webp" alt="logo"></a>
        </div>
        <div class="right-section">
            <div class="lists">
                <div>
                    <h4>Quick Links</h4>
                    <ul class="quick-links">
                        <li>
                            <a href="/services/speaking">Motivational Speaking</a>
                        </li>
                        <li>
                            <a href="/services/coaching">Coaching</a>
                        </li>
                        <li>
                            <a href="/services/personal-training">Personal Training</a>
                        </li>
                        <li>
                            <a href="/services/massage">Massage</a>
                        </li>
                        <li>
                            <a href="/fees-for-service">Fees for Service</a>
                        </li>
                        <li>
                            <a href="/blog">Blog</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h4>Contact</h4>
                    <ul>
                        <li>
                            <a href="/contacts">
                                Janesville, WI 53546
                            </a>
                        </li>
                        <li>
                            <a href="tel:{{client.phoneForTel}}">
                                {{client.phoneFormatted}}
                            </a>
                        </li>
                        <li>
                            <a href="mailto:{{client.email}}">Click to Email</a>
                        </li>
                    </ul>
                </div>
                
            </div>
        </div>
    </div>

    <div class="credit">
        <!-- <span>Developed by</span>
        <a href="/" target="_blank" rel="noopener">Tyger Development</a> -->
        <span class="copyright">
            Copyright© {% year %}
        </span>
    </div>
</footer>