<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <a class="logo" href="/"><img loading="lazy" decoding="async" src="/assets/images/hhow-3-wh.webp" alt="logo"></a>
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Information</h2>
                    </li>
                    <li>
                        <a href="/massage">Massage</a>
                    </li>
                    <li>
                        <a href="/speaking">Motivational Speaking</a>
                    </li>
                    <li>
                        <a href="/personal-training">Personal Training</a>
                    </li>
                    <li>
                        <a href="/coaching">Coaching</a>
                    </li>
                    <li>
                        <a href="/fees-for-service">Fees for Service</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Follow Us</h2>
                    </li>
                    <li>Social1</li>
                    <li>Social2</li>
                    <li>Social3</li>
                </ul>
                <ul>
                    <li>
                        <h2>Contact</h2>
                    </li>
                    <li>
                        <a href="/contact">
                            {{client.address.lineOne}}<br>
                            {{client.address.lineTwo}}<br>
                            {{client.address.city}}
                            {{client.address.state}}
                            {{client.address.zip}}
                        </a>
                    </li>
                    <li>
                        <a href="tel:{{client.phoneForTel}}">
                            T:
                            {{client.phoneFormatted}}
                        </a>
                    </li>
                    <li>
                        <a href="mailto:{{client.email}}">Click to Email</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="credit">
        <!-- <span>Developed by</span>
        <a href="/" target="_blank" rel="noopener">Tyger Development</a> -->
        <span class="copyright">
            Copyright© {% year %}
        </span>
    </div>
</footer>