---
title: 'Contact'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'contact/'
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/contact.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">CONTACT US</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/m-speaking.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/m-speaking.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/m-speaking.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                Contact Form                  -->
    <!-- ============================================ -->

    <section id="cs-contact">
        <div class="cs-container">
            <form id="cs-form" form name="contact" netlify>
                <div class="cs-content">
                    <span class="cs-topper">Contact</span>
                    <h2 class="cs-title">Get in Touch</h2>
                    <p class="cs-text">
                        Interested in our services or sponsoring a professional athlete? Fill out the form below, and we'll be in touch soon.
                    </p>
                </div>
                <label>
                    <span>Name<span class="required">*</span></span>
                    <input required type="text" id="name" name="name">
                </label>
                <label>
                    <span>Email<span class="required">*</span></span>
                    <input required type="text" id="email" name="email">
                </label>
                <label>
                    <span>Phone<span class="required">*</span></span>
                    <input required type="text" id="phone" name="phone">
                </label>
                <label>
                    <span>How Did You Find Us?</span>
                    <input type="text" id="find" name="find-us"/>
                </label>
                <label>
                    <span>What Service(s) Are You Interested In?<span class="required">*</span></span>
                    <input required type="text" id="service-interest" name="service-interest">
                </label>
                <label class="cs-label-message">
                    <span>Comments</span>
                    <textarea required name="Message" id="message"></textarea>
                </label>
                <button class="cs-button-solid" type="submit">Submit Message</button>
            </form>
            <div class="cs-right-section">
                <!--Email-->
                <span class="cs-header">Email</span>
                <a class="cs-link" href="mailto:{{client.email}}">{{client.email}}</a>
                <!--Phone-->
                <span class="cs-header">Phone</span>
                <a class="cs-link" href="tel:{{client.phoneForTel}}">{{client.phoneFormatted}}</a>
                <!--Address-->
                <span class="cs-header">Address</span>
                <a class="cs-link" href="{{client.address.mapLink}}">
                    <span class="cs-block">
                        {{client.address.city}}
                        {{client.address.state}}
                        {{client.address.zip}}
                    </span>
                </a>

                <!-- Background Image-->
                <picture class="cs-bg-picture">
                    <source media="(min-width: 601px)" srcset="/assets/images/plant.webp">
                    <img aria-hidden="true" decoding="async" src="/assets/images/plant.webp" alt="building" loading="lazy" width="2500" height="1667">
                </picture>

            </div>
        </div>
    </section>
{% endblock %}