---
title: 'Coaching'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'coaching/'
eleventyNavigation:
    key: Coaching
    order: 400
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/life-coach.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Health & Life Coaching</h1>


    </section>

    {% include 'components/cta.html' %}

{% endblock %}