---
title: 'Massage'
description: 'Meta description for the page'
preloadImg: '/assets/images/massage.jpg'
permalink: '/services/massage/'
eleventyNavigation:
    parent: Services
    key: Massage
    order: 005
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/massage.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">MASSAGE</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/massage.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/massage.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/massage.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>
    </section>
<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-1666">
    <div class="cs-container">
        <div class="cs-image-group">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/sport-massage.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/sport-massage.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/sport-massage.jpg" alt="people standing" width="605" height="690">
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">Services</span>
            <h2 class="cs-title">MASSAGE THERAPY SERVICES</h2>
            <p class="cs-text">
                Richard is a certified massage therapist with 26 years of experience, and holds several certifications that are technique specific including:  Orthopedic Massage, Sports Massage, Fascial Therapy, Manual Lymph Drainage, and is a Certified Sacroiliac Joint Specialist. Benefit from his expertise in our professional environment, designed to promote relaxation and healing.
            </p>
            <ul class="cs-faq-group">
                <li class="cs-faq-item active">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            Orthopedic Massage
                        </span>
                        <span class="cs-indicator" aria-hidden="true"></span>
                    </button>
                    <p class="cs-item-p">
                        Orthopedic massage is a therapeutic technique that focuses on alleviating musculoskeletal pain and improving function through targeted manipulation of muscles, tendons, and joints.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            Sports Massage
                        </span>
                        <span class="cs-indicator" aria-hidden="true"></span>
                    </button>
                    <p class="cs-item-p">
                        Sports massage is a specialized form of massage designed to enhance athletic performance, prevent injuries, and aid in recovery by addressing the specific needs of active individuals and athletes.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            Fascial Therapy
                        </span>
                        <span class="cs-indicator" aria-hidden="true"></span>
                    </button>
                    <p class="cs-item-p">
                        Fascial therapy is a treatment approach that targets the fascia, the connective tissue surrounding muscles and organs, to improve mobility, reduce pain, and enhance overall function by releasing tension and restoring balance.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            Manual Lymph Drainage
                        </span>
                        <span class="cs-indicator" aria-hidden="true"></span>
                    </button>
                    <p class="cs-item-p">
                        Manual lymph drainage is a gentle massage technique designed to stimulate the lymphatic system, reduce swelling, and promote the removal of toxins and waste from the body.
                    </p>
                </li>
            </ul>
            <div class="massage-btn">
                <a href="/contact" class="cs-button-solid">Schedule an Appointment</a>
            </div>
        </div>
    </div>
</section>
                                

    {% include 'components/cta.html' %}

{% endblock %}