---
title: 'Personal Training'
description: 'Meta description for the page'
preloadImg: '/assets/images/pt.jpg'
permalink: '/services/personal-training/'
eleventyNavigation:
    parent: Services
    key: Personal Training
    order: 002
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/personal-training.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">PERSONAL TRAINING</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/pt.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/pt.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/pt.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>
    </section>

   <!-- ============================================ -->
<!--                 Content Page                 -->
<!-- ============================================ -->

<!-- ============================================ 
    This Stitch is used for content heavy interior pages
    that have no design or layout.  Often times these are 
    content silos where you talk extensively about a topic
    to educate your visitors and rank on Google for the 
    content.  These are great for pages that have a TON
    of content.  Design isn't important here, it's all 
    about making the content accessible and easy to read.
================================================= -->

<section id="content-page-852">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">A Personalized Approach To Your <span class="cs-color">Well-Being</span></h1>
            <p>
                With personalized programs tailored to your needs, I'll help you build strength, shed weight, or enhance overall fitness. Together, we'll focus on form, technique, and accountability to maximize your potential and transform your body. Let's elevate your fitness journey together.
            </p>
            <h3>Diverse Options to Match Your Goals</h3>
            <ul>
                <li>Strength Training</li>
                <li>Cardiovascular Training</li>
                <li>Functional Training</li>
            </ul>
        </div>
        <div class="cs-image-group">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/richard-1.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/richard-1.jpg">
                <img decoding="async" src="/assets/images/richard-1.jpg" alt="person" width="542" height="520" aria-hidden="true">
            </picture>
        </div>
    </div>
</section>
                                

    {% include 'components/cta.html' %}

{% endblock %}