---
title: 'Fees for Service'
description: 'Fees for Service'
preloadImg: ''
permalink: 'fees-for-service/'
eleventyNavigation:
    key: Fees For Service
    order: 500
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/prices.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                  Pricing                     -->
    <!-- ============================================ -->
    
<section id="pricing-975">
    <div class="cs-container">
        <div class="cs-content">
            <h1>Fees for Service</h1>
        </div>
        <div class="cs-menu">
            <!--Left Menu-->
            <ul class="cs-menu-group">
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="price-title">
                            <span class="cs-header">Massage:</span>
                            <span class="cs-subhead">Session - 60 to 70 minutes</span>
                        </span>
                        <span class="cs-price">*$100.00 per session</span>
                    </h3>
                    <p class="cs-menu-text">
                        Orthopedic Massage, Sports Massage, Fascial Therapy, Manual Lymph Drainage, and Certified Sacroiliac Joint Specialist
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="price-title">
                            <span class="cs-header">Personal Training:</span>
                            <span class="cs-subhead">Session - 60 minutes</span>
                        </span>
                        <span class="cs-price">*$100.00 per session</span>
                    </h3>
                    <p class="cs-menu-text">
                        Build strength, shed weight, or enhance overall fitness
                    </p>
                    <p><em>*Initial Consultation is free</em></p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="price-title">
                            <span class="cs-header">Health Coaching:</span>
                            <span class="cs-subhead">Session - 60 minutes</span>
                        </span>
                        <span class="cs-price">*$100.00 per session</span>
                    </h3>
                    <p class="cs-menu-text">
                        Implement lifestyle changes to improve your physical health
                    </p>
                </li>

            </ul>
            <!--Right Menu-->
            <ul class="cs-menu-group">
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="price-title">
                            <span class="cs-header">Life Coaching:</span>
                            <span class="cs-subhead">Session - 60 minutes</span>
                        </span>
                        <span class="cs-price">*$100.00 per session</span>
                    </h3>
                    <p class="cs-menu-text">
                        Make progress in your life in order to attain greater fulfillment
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="price-title">
                            <span class="cs-header">Motivational Speaking:</span>
                        </span>
                        <span class="cs-price">**$1,000 – $5,000 per Speaking Engagement</span>
                    </h3>
                    <p class="cs-menu-text">
                        Join us for an unforgettable experience as we explore the transformative power of resilience, determination, and unwavering perseverance.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>

    {% include 'components/cta.html' %}

{% endblock %}