---
title: 'Speaking'
description: 'Meta description for the page'
preloadImg: '/assets/images/m-speaking.jpg'
permalink: '/services/speaking/'
eleventyNavigation:
    parent: Services
    key: Motivational Speaking
    order: 001
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/speaking.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">MOTIVATIONAL SPEAKING</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/m-speaking.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/m-speaking.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/m-speaking.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>
    </section>

    <!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-564">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/speaking.jpg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/speaking.jpg">
            <img loading="lazy" decoding="async" src="/assets/images/speaking.jpg" alt="computer" width="630" height="528" aria-hidden="true">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Empowering Keynotes</span>
            <h2 class="cs-title">UNLEASH YOUR POTENTIAL</h2>
            <p class="cs-text">
                Join us for an unforgettable experience as we explore the transformative power of resilience, determination, and unwavering perseverance. Led by Richard, a four-time Amateur National Champion and seasoned motivational speaker, this keynote is designed to ignite the champion within you. 
            </p>
            <p class="cs-text">Through engaging storytelling and practical insights, Richard shares his personal journey of overcoming adversity—from a traumatic brain injury to battling toxic mold sickness and life-threatening autoimmune reactions. Discover the three "P's" needed to be a champion, confront the 'Elephant in the Room,' and learn how stepping outside of your comfort zone can unlock new opportunities. Explore the healing power of music and dance, and get ready to be inspired, motivated, and empowered to conquer every challenge and achieve greatness.
            </p>
            <h2>Presentations</h2>
            <ul class="cs-ul">
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/arrow-green.svg" alt="arrow" width="16" height="18">
                    <a href="/assets/images/blog/you-can-be-a-champion-pro-3.pdf" target="_blank">You Can Be a Champion</a>
                </li>
            </ul>
            <a href="/contact" class="cs-button-solid">Book Now</a>
        </div>
    </div>
</section>
                                

    {% include 'components/cta.html' %}

{% endblock %}