---
title: 'Speaking'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'Speaking/'
eleventyNavigation:
    key: Motivational Speaking
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/speaking.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">MOTIVATIONAL SPEAKING</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/m-speaking.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/m-speaking.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/m-speaking.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>
    </section>

    <!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-564">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/speaking.jpg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/speaking.jpg">
            <img loading="lazy" decoding="async" src="/assets/images/speaking.jpg" alt="computer" width="630" height="528" aria-hidden="true">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Empowering Keynotes</span>
            <h2 class="cs-title">UNLEASH YOUR POTENTIAL</h2>
            <p class="cs-text">
                Join us for an unforgettable experience as we delve into the transformative power of resilience, determination, and unwavering perseverance. Led by Richard, a four-time national champion and seasoned motivational speaker, our keynotes are designed to ignite the champion within you. Through engaging storytelling and practical insights, Richard shares his personal journey of overcoming adversity, from sustaining a traumatic brain injury to battling toxic mold sickness and life-threatening autoimmune reactions. Discover the three "P's" needed to be a champion, confront the 'Elephant in the Room', and learn how champions, like Richard, are human too. Explore the significance of finding your 'Signature Move' and the healing power of music and dance. Get ready to be inspired, motivated, and empowered to conquer every challenge and achieve greatness.
            </p>
            <ul class="cs-ul">
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/arrow-green.svg" alt="arrow" width="16" height="18">
                    Making Lives Easier
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/arrow-green.svg" alt="arrow" width="16" height="18">
                    Making Lives Easier
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/arrow-green.svg" alt="arrow" width="16" height="18">
                    Making Lives Easier
                </li>
            </ul>
            <a href="" class="cs-button-solid">Book Now</a>
        </div>
    </div>
</section>
                                

    {% include 'components/cta.html' %}

{% endblock %}