/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #reviews-989 {
    padding: var(--sectionPadding);
  }
  #reviews-989 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #reviews-989 .cta-btn {
    margin-top: 15px;
  }
  #reviews-989 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #reviews-989 .cs-title {
    margin: 0;
    max-width: 24ch;
  }
  #reviews-989 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 2rem;
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #reviews-989 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #reviews-989 .cs-button-solid:hover:before {
    width: 100%;
  }
  #reviews-989 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
  #reviews-989 .cs-item {
    padding: 15px;
    list-style: none;
    width: 100%;
    grid-column: span 12;
    grid-row: span 1;
  }
  #reviews-989 .cs-flex {
    text-align: left;
    width: 100%;
    /* 16px - 32px */
    padding: clamp(1rem, 3vw, 2rem);
    /* prevents padding from affecting height and wodth */
    box-sizing: border-box;
    border: 1px solid #e8e8e8;
    border-top: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
  }
  #reviews-989 .cs-flex ul {
    margin-left: 15px;
  }
  #reviews-989 .cs-name {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2.3vw, 1.5625rem);
    line-height: 1.2em;
    font-weight: 700;
    margin: 0;
    color: var(--headerColor);
    position: relative;
  }
  #reviews-989 .cs-name::after {
    background-color: var(--primary);
    content: "";
    height: 2px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -10px;
  }
  #reviews-989 .cs-desc {
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 400;
    /* 8px - 28px */
    margin: 0 0 clamp(0.5rem, 3.2vw, 1.75rem);
    color: var(--bodyTextColor);
    display: block;
  }
  #reviews-989 .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
  }
}
/* Tablet - 600px */
@media only screen and (min-width: 37.5rem) {
  #reviews-989 .cs-item {
    display: flex;
  }
  #reviews-989 .cs-picture {
    max-width: 15rem;
    aspect-ratio: initial;
  }
  #reviews-989 .cs-flex {
    width: 100%;
    border-top: 1px solid #e8e8e8;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #reviews-989 .cs-container {
    max-width: 80rem;
  }
  #reviews-989 .cs-card-group {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 50px;
    flex-wrap: nowrap;
  }
  #reviews-989 .cs-card-group ul {
    padding-left: 30px;
  }
  #reviews-989 .cs-item-text {
    margin-bottom: 15px;
  }
}

/*# sourceMappingURL=coaching.css.map */
