/*-- -------------------------- -->
<---          Pricing           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #pricing-975 {
    padding: var(--sectionPadding);
  }
  #pricing-975 .cs-container {
    max-width: 80rem;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #pricing-975 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #pricing-975 .cs-content h1 {
    color: var(--primary);
    margin: 80px auto 0px;
    font: 900 clamp(42px, 4vw, 58px)/calc(1em + 6px) "Montserrat", sans-serif;
  }
  #pricing-975 .cs-title {
    margin: 0;
  }
  #pricing-975 .cs-menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    column-gap: 1.25rem;
    /* 28px - 40px */
    row-gap: clamp(1.75rem, 3vw, 2.5rem);
  }
  #pricing-975 .cs-menu-group {
    width: 100%;
    max-width: 37.5rem;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* 28px - 40px */
    gap: clamp(1.75rem, 3vw, 2.5rem);
  }
  #pricing-975 .cs-menu-item {
    list-style: none;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
  }
  #pricing-975 .cs-h3 {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    gap: 15px;
  }
  #pricing-975 .price-title {
    display: flex;
    flex-direction: column;
  }
  #pricing-975 .cs-header {
    font-size: clamp(18px, 1.4vw, 24px);
    text-align: inherit;
    max-width: 25rem;
    padding-right: 0.5rem;
    color: var(--headerColor);
    background-color: #fff;
    display: flex;
    flex-direction: column;
  }
  #pricing-975 .cs-subhead {
    font-size: 14px;
    text-align: inherit;
    max-width: 25rem;
    padding-right: 0.5rem;
    color: var(--headerColor);
    display: flex;
    flex-direction: column;
    font-weight: 100;
    font-style: italic;
  }
  #pricing-975 .cs-price {
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 400;
    padding-left: 0.5rem;
    color: var(--headerColor);
    background-color: #fff;
    text-align: right;
  }
  #pricing-975 .cs-menu-text {
    font-size: 1rem;
    line-height: 1.5em;
    text-align: inherit;
    margin-top: 10px;
    color: var(--bodyTextColor);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #pricing-975 .cs-menu {
    flex-direction: row;
    justify-content: space-between;
  }
  #pricing-975 .cs-menu-group {
    width: 100%;
  }
}
@media (max-width: 1199px) {
  #pricing-975 .cs-menu {
    align-items: center;
    flex-direction: column;
  }
}

/*# sourceMappingURL=prices.css.map */
