/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #hero-1619 {
        padding: var(--sectionPadding);
        /* 200px - 300px - leaving extra space for the navigation */
        padding-top: clamp(12.5rem, 31.95vw, 18.75rem);
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            /* 60px - 180px */
            gap: clamp(3.75rem, 13vw, 11.25rem);
        }

        .sm-none {
            display: none;
        }

        .cs-content {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            max-width: 100%;
            text-align: left;
            width: 100%;

            p {
                color: var(--white);
                font: clamp(16px, 4vw, 18px) / calc(1em + 6px) "Poppins-Regular", sans-serif;
                max-width: 50%;
                margin-bottom: 30px;

                span {
                    font-weight: 700;
                }
            }

            .buttons {
                display: flex;
                gap: 15px;
            }

            .cs-button-outline {

            }
        }

        .cs-topper {
            /* 13px - 16px */
            font: clamp(14px, 4vw, 18px) / calc(1em + 6px) "Montserrat", sans-serif;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            margin-bottom: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            position: relative;
            width: 100%;

            > span {
                display: flex;
                align-items: center;
                gap: 8px;
            }

            .name {
                font-weight: 700;
            }

            .desc {
                font-weight: 100;
                font-size: 14px;
            }
        }

        .cs-chevron {
            --chevronColor: var(--primary);

            width: calc(48 / 16 * 1rem);
            height: auto;
        }

        .cs-title {
            font: clamp(32px, 4vw, 60px) / calc(1em + 6px);
            max-width: 100%;
            margin-bottom: 15px;
            color: var(--white);
            position: relative;
        }

        .cs-text {
            /* 16px - 20px */
            font-size: clamp(1rem, 1.95vw, 1.25rem);
            line-height: 1.5em;
            text-align: inherit;
            width: 100%;
            /* 464px - 622px */
            max-width: clamp(29rem, 60vw, 38.785rem);
            margin: 0 0 calc(40 / 16 * 1rem) 0;
            color: #fff;
        }


        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px */
            gap: clamp(1rem, 2.3vw, 1.25rem);
        }

        .cs-item {
            align-items: flex-start;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0px 12px 80px 0px rgba(26, 26, 26, 0.08);
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            grid-column: span 12;
            grid-row: span 1;
            justify-content: center;
            list-style: none;
            margin: 0;
            position: relative;
            text-align: center;
            transform: scale(100%);
            transition: box-shadow 0.3s, transform 0.3s;
            width: 100%;
            z-index: 1;

            &:hover {
                box-shadow: 0px 12px 80px 0px rgba(26, 26, 26, 0.28);
                transform: scale(105%);
            }
            
            a {
                display: flex;
                flex-direction: column;
                height: 100%;
                width: 100%;
                padding: 15px 30px;
                text-decoration: none;
            }
        }
        .cs-icon {
            margin: 0 auto 10px;
        }

        .cs-h3 {
            align-items: center;
            color: var(--primary);
            display: flex;
            font: clamp(16px, 1vw, 28px) / calc(1em + 6px) "Poppins-Medium", sans-serif;
            justify-content: center;
            line-height: 1.2em;
            text-align: center;
            text-transform: uppercase;
            white-space: nowrap;
            width: 100%;
        }

        .cs-item-text {
            font: clamp(14px, 1.5vw, 16px) / calc(1em + 6px) "Poppins-Light", sans-serif;
            max-width: 100%;
            margin: 0;
            padding: 15px;
            color: var(--bodyTextColor);
            flex-grow: 1;
            text-wrap: balance;
        }

        .cs-background {
            width: 100%;
            height: 55%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -2;

            &:before {
                /* Overlay */
                content: "";
                width: 100%;
                height: 100%;
                background: #111926;
                opacity: 0.8;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                /* prevents the cursor from interacting with it */
                pointer-events: none;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                /* makes the top of the image start at the top of the parent */
                object-position: top;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #hero-1619 {
        padding-bottom: 0;
        .cs-container {
            align-items: flex-start;
        }

        .cs-content {
            text-align: left;
            margin-left: 0;
            align-items: flex-start;
        }

        .cs-item {
            grid-column: span 6;
        }

        .cs-background {
            height: 87%;
            &:before {
                background: linear-gradient(
                    90deg,
                    #111926 21.41%,
                    rgba(17, 25, 38, 0.72) 60%,
                    rgba(17, 25, 38, 0) 100%
                );
                opacity: 1;
            }
        }
    }

}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #hero-1619 {
        .cs-item {
            grid-column: span 3;
        }


        .sm-none {
            display: inline-block;
        }
    }
}

/* Large Desktop Parallax Effect - 100px */
@media only screen and (min-width: 100rem) {
    #hero-1619 {
        .cs-background {
            background: url("/assets/images/landing.jpg");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            /* creates the parallax effect */
            background-attachment: fixed;
            background-position: right;
            img {
                display: none;
            }
        }
    }
}