/* PAGE-SPECIFIC STYLES FOR THE PROJECTS PAGE */

/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/
/*-- -------------------------- -->
<---         Services           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-1666 {
        padding: var(--sectionPadding);
        background-color: #f7f7f7;
        position: relative;
        overflow: hidden;
        z-index: 1;

        .cs-container {
            width: 100%;
            /* changes to 1280px at small desktop */
            max-width: calc(584 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 40px - 64px */
            gap: clamp(2.5rem, 3.9vw, 4rem);
        }

        .cs-image-group {
            width: 100%;
            height: auto;
            margin: 0;
            position: relative;
        }

        .cs-picture {
            width: 100%;
            min-height: calc(328 / 16 * 1rem);
            display: block;
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .cs-floater {
            width: clamp(20.125rem, 40vw, 28.1875rem);
            height: clamp(20.1875rem, 40vw, 28.25rem);
            position: absolute;
            bottom: calc(0 / 16 * 1rem);
            z-index: 1;
            mix-blend-mode: soft-light;
        }

        .cs-content {
            text-align: left;
            width: 100%;
            max-width: calc(650 / 16 * 1rem);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            flex: none;
        }

        .cs-title {
            /* 16px - 24px */
            margin: 0 0 clamp(1rem, 1.96vw, 1.5rem) 0;
            color: var(--primary);
            text-wrap: balance;
        }

        .cs-text {
            /* 16px - 24px */
            margin: 0 0 clamp(1rem, 1.96vw, 1.5rem) 0;
        }

        .cs-faq-group {
            width: 100%;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            /* 16px - 20px */
            gap: clamp(1rem, 2.4vw, 1.25rem);
        }

        .cs-faq-item {
            list-style: none;
            width: 100%;
            background-color: transparent;
            border: 1px solid #e8e8e8;
            padding: 0;
            box-sizing: border-box;
            transition: border-bottom 0.3s;

            &.active {
                .cs-indicator {
                    &:before {
                        transform: translate(-50%, -50%) rotate(360deg);
                    }

                    &:after {
                        transform: translate(-50%, -50%) rotate(0deg);
                    }
                }

                .cs-item-p {
                    height: auto;
                    padding-top: calc(16 / 16 * 1rem);
                    opacity: 1;
                    transform: scaleY(1);
                }
            }

            &:hover {
                cursor: pointer;
            }
        }
    
        .cs-button {
            /* 16px - 20px */
            font-size: clamp(1rem, 2vw, 1.25rem);
            line-height: 1.2em;
            text-align: left;
            font-weight: bold;
            width: 100%;
            padding: calc(16 / 16 * 1rem) calc(16 / 16 * 1rem) 0 calc(16 / 16 * 1rem);
            border: none;
            background: transparent;
            color: var(--headerColor);
            overflow: hidden;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            /* 16px - 24px */
            gap: clamp(1rem, 2.5vw, 1.5rem);
            position: relative;
            transition:
                background-color 0.3s,
                color 0.3s;

            &:hover {
                cursor: pointer;
            }
        }

        .cs-indicator {
            width: calc(24 / 16 * 1rem);
            height: calc(24 / 16 * 1rem);
            position: relative;
            z-index: 1;

            &:before {
                /* left line */
                content: '';
                width: calc(16 / 16 * 1rem);
                height: calc(2 / 16 * 1rem);
                background-color: #767676;
                opacity: 1;
                border-radius: 2px;
                position: absolute;
                display: block;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: transform .5s;
            }

            &:after {
                /* right line */
                content: '';
                width: calc(16 / 16 * 1rem);
                height: calc(2 / 16 * 1rem);
                background-color: #767676;
                opacity: 1;
                border-radius: 2px;
                position: absolute;
                display: block;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(90deg);
                transition: transform .5s;
            }
        }

        .cs-button-text {
            width: 90%;
            padding: 0;
            display: block;
        }

        .cs-item-p {
            font-size: calc(14 / 16 * 1rem);
            line-height: 1.5em;
            width: 100%;
            max-width: none;
            height: 0;
            margin: 0;
            /* 16px - 24px */
            padding: 0 calc(16 / 16 * 1rem) calc(16 / 16 * 1rem) calc(16 / 16 * 1rem);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            opacity: 0;
            color: var(--bodyTextColor);
            /* clips the text so it doesn't show up */
            overflow: hidden;
            position: relative;
            transition:
                opacity 0.3s,
                padding-bottom 0.3s,
                padding-top 0.3s;
        }

        .cs-icon {
            width: calc(32 / 16 * 1rem);
            height: calc(32 / 16 * 1rem);
            display: block;
        }

        .cs-button-solid {
            margin: clamp(1.75rem, 3.9vw, 2.5rem) 0 0 0;
        }
    }

    #cta {
        margin: 0;
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-1666 {
        .cs-picture {
            height: 100%;
            min-width: calc(584 / 16 * 1rem);
            width: 48vw;
            right: 0;
            top: 0;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #services-1666 {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
        }

        .cs-content {
            width: 55%;
        }

        .cs-image-group {
            width: 100%;
            max-width: calc(542 / 16 * 1rem);
        }

        .cs-picture {
            width: 100%;
            min-width: 100%;
            max-height: 700px;
            
            img {
                object-position: left;
            }
        }

        .cs-floater {
            width: calc(451 / 16 * 1rem);
            right: clamp(50%, 18vw, 75%);
            bottom: calc(-100 / 16 * 1rem);
        }
    }
}
                                