/* PAGE-SPECIFIC STYLES FOR THE PROJECTS PAGE */

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-564 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: calc(550 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            text-align: left;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .cs-topper {
            color: var(--headerColor);
        }

        .cs-title {
            color: var(--primary);
            text-wrap: balance;
        }

        .cs-text {
            margin-bottom: calc(16 / 16 * 1rem);
            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }
        }

        .cs-color {
            color: var(--primary);
        }

        .cs-h3 {
            /* 25px - 31px */
            font-size: clamp(1.5625rem, 3vw, 1.9375rem);
            line-height: 1.2em;
            font-weight: 700;
            text-align: inherit;
            /* 16px - 20px */
            margin: 0 0 clamp(1rem, 1.9vw, 1.25rem) 0;
            color: var(--headerColor);
        }

        .cs-ul {
            width: 100%;
            margin: 0 0 calc(32 / 16 * 1rem) 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            /* 16px - 24px */
            gap: clamp(1rem, 2.5vw, 1.5rem);
        }

        .cs-li {
            /* 16px - 20px */
            font-size: clamp(1rem, 2vw, 1.25rem);
            font-weight: 700;
            list-style: none;
            line-height: 1.5em;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            /* push icon top the top so if the list item goes to two lines the icon stays at the top */
            align-items: flex-start;
            gap: calc(20 / 16 * 1rem);
        }

        .cs-icon {
            /* adds extra space between the icon and top of parent so it's more centered */
            margin-top: clamp(0.125rem, 0.47vw, 0.4375rem);
        }

        .cs-button-solid {
            margin: 0;
        }

        .cs-picture {
            /* changes at tablet */
            width: 100%;
            max-width: calc(630 / 16 * 1rem);
            /* changes to a clamp at tablet */
            height: calc(396 / 16 * 1rem);
            display: block;
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-564 {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .cs-picture {
            width: 46vw;
            /* 415px - 528px */
            height: clamp(25.9375rem, 50vw, 33rem);
        }

        .cs-content {
            width: 45%;
            max-width: calc(520 / 16 * 1rem);
        }
    }
}

                                
